# Flight Price Forecast - Data Preprocessing

This notebook handles the data preprocessing phase of the Flight Price Forecasting project. We will:

- Load and inspect the US Airline Flight Routes and Fares dataset (1993-2024)
- Clean the data by removing duplicates and handling errors
- Filter and keep only relevant features
- Export the cleaned dataset for subsequent analysis

## Project Overview

**Objective**: Predict airline fare trends using historical data from 1993-2024  
**Dataset**: US Airline Flight Routes and Fares from Kaggle  
**Methodology**: Data-driven approach with machine learning models

## 1. Import Required Libraries

In [1]:
# Data manipulation and analysis
import pandas as pd
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# File operations
import os
import sys

# Warnings
import warnings
warnings.filterwarnings('ignore')

# Set display options for better data viewing
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

print("Libraries imported successfully!")
print(f"Pandas version: {pd.__version__}")
print(f"NumPy version: {np.__version__}")

Libraries imported successfully!
Pandas version: 2.2.3
NumPy version: 1.26.3

## 2. Load and Inspect Dataset

In [2]:
# Load the dataset
data_path = "../US Airline Flight Routes and Fares 1993-2024.csv"

try:
    df = pd.read_csv(data_path)
    print("Dataset loaded successfully!")
    print(f"Dataset shape: {df.shape}")
    print(f"Rows: {df.shape[0]:,}")
    print(f"Columns: {df.shape[1]}")
except FileNotFoundError:
    print(f"Error: Dataset not found at {data_path}")
except Exception as e:
    print(f"Error loading dataset: {e}")

Dataset loaded successfully!
Dataset shape: (245955, 23)
Rows: 245,955
Columns: 23

## 3. Initial Data Inspection

In [3]:
# Display basic information about the dataset
print("="*50)
print("DATASET OVERVIEW")
print("="*50)

if 'df' in locals():
    print(f"Dataset shape: {df.shape}")
    print(f"Memory usage: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
    print("\nColumn names and types:")
    print(df.dtypes)

    print(f"\nFirst 5 rows:")
    display(df.head())

    print(f"\nLast 5 rows:")
    display(df.tail())
else:
    print("Dataset not loaded. Please run the previous cell first.")

==================================================
DATASET OVERVIEW
==================================================
Dataset shape: (245955, 23)
Memory usage: 194.92 MB

Column names and types:
tbl                object
Year                int64
quarter             int64
citymarketid_1      int64
citymarketid_2      int64
city1              object
city2              object
airportid_1         int64
airportid_2         int64
airport_1          object
airport_2          object
nsmiles             int64
passengers          int64
fare              float64
carrier_lg         object
large_ms          float64
fare_lg           float64
carrier_low        object
lf_ms             float64
fare_low          float64
Geocoded_City1     object
Geocoded_City2     object
tbl1apk            object
dtype: object

First 5 rows:

,tbl,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,airportid_1,airportid_2,airport_1,airport_2,nsmiles,passengers,fare,carrier_lg,large_ms,fare_lg,carrier_low,lf_ms,fare_low,Geocoded_City1,Geocoded_City2,tbl1apk
0,Table1a,2021,3,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",10135,14112,ABE,PIE,970,180,81.43,G4,1.0000,81.43,G4,1.0000,81.43,NaN,NaN,202131013514112ABEPIE
1,Table1a,2021,3,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",10135,15304,ABE,TPA,970,19,208.93,DL,0.4659,219.98,UA,0.1193,154.11,NaN,NaN,202131013515304ABETPA
2,Table1a,2021,3,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",10140,11259,ABQ,DAL,580,204,184.56,WN,0.9968,184.44,WN,0.9968,184.44,NaN,NaN,202131014011259ABQDAL
3,Table1a,2021,3,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",10140,11298,ABQ,DFW,580,264,182.64,AA,0.9774,183.09,AA,0.9774,183.09,NaN,NaN,202131014011298ABQDFW
4,Table1a,2021,3,30140,30466,"Albuquerque, NM","Phoenix, AZ",10140,14107,ABQ,PHX,328,398,177.11,WN,0.6061,184.49,AA,0.3939,165.77,NaN,NaN,202131014014107ABQPHX

Last 5 rows:

,tbl,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,airportid_1,airportid_2,airport_1,airport_2,nsmiles,passengers,fare,carrier_lg,large_ms,fare_lg,carrier_low,lf_ms,fare_low,Geocoded_City1,Geocoded_City2,tbl1apk
245950,Table1a,2024,1,35412,31703,"Knoxville, TN","New York City, NY (Metropolitan Area)",15412,12953,TYS,LGA,665,207,278.70,DL,0.7503,287.44,AA,0.2359,248.46,NaN,NaN,202411541212953TYSLGA
245951,Table1a,2024,1,35412,32467,"Knoxville, TN","Miami, FL (Metropolitan Area)",15412,11697,TYS,FLL,724,277,148.69,G4,0.8255,114.45,G4,0.8255,114.45,NaN,NaN,202411541211697TYSFLL
245952,Table1a,2024,1,35412,32467,"Knoxville, TN","Miami, FL (Metropolitan Area)",15412,13303,TYS,MIA,724,70,330.19,AA,0.8057,321.92,AA,0.8057,321.92,NaN,NaN,202411541213303TYSMIA
245953,Table1a,2024,1,35412,33195,"Knoxville, TN","Tampa, FL (Metropolitan Area)",15412,14112,TYS,PIE,550,178,95.65,G4,1.0000,95.65,G4,1.0000,95.65,NaN,NaN,202411541214112TYSPIE
245954,Table1a,2024,1,35412,33195,"Knoxville, TN","Tampa, FL (Metropolitan Area)",15412,15304,TYS,TPA,550,57,330.15,AA,0.5212,288.38,AA,0.5212,288.38,NaN,NaN,202411541215304TYSTPA

## 4. Data Quality Assessment

In [4]:
# Check for missing values
print("MISSING VALUES ANALYSIS")
print("="*50)
missing_values = df.isnull().sum()
missing_percentage = (missing_values / len(df)) * 100

missing_df = pd.DataFrame({
    'Column': missing_values.index,
    'Missing Count': missing_values.values,
    'Missing Percentage': missing_percentage.values
}).sort_values('Missing Count', ascending=False)

print("Missing values summary:")
print(missing_df[missing_df['Missing Count'] > 0])

# Check for duplicates
print(f"\n\nDUPLICATE RECORDS")
print("="*50)
duplicates = df.duplicated().sum()
print(f"Total duplicate rows: {duplicates}")
print(f"Percentage of duplicates: {(duplicates/len(df)*100):.2f}%")

if duplicates > 0:
    print("\nSample duplicate rows:")
    print(df[df.duplicated()].head())

# Check data types
print(f"\n\nDATA TYPES ANALYSIS")
print("="*50)
print("Current data types:")
print(df.dtypes)

# Statistical summary
print(f"\n\nSTATISTICAL SUMMARY")
print("="*50)
print("Numerical columns summary:")
print(df.describe())

# Check for potential outliers (basic analysis)
numeric_cols = df.select_dtypes(include=[np.number]).columns
if len(numeric_cols) > 0:
    print(f"\n\nOUTLIER DETECTION (Basic)")
    print("="*50)
    for col in numeric_cols[:5]:  # Check first 5 numeric columns
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
        print(
            f"{col}: {len(outliers)} potential outliers ({len(outliers)/len(df)*100:.2f}%)")

print(f"\n✓ Data quality assessment completed!")

MISSING VALUES ANALYSIS

==================================================

Missing values summary:
            Column  Missing Count  Missing Percentage
21  Geocoded_City2          39206           15.940314
20  Geocoded_City1          39206           15.940314
19        fare_low           1612            0.655404
18           lf_ms           1612            0.655404
17     carrier_low           1612            0.655404
16         fare_lg           1540            0.626131
15        large_ms           1540            0.626131
14      carrier_lg           1540            0.626131


DUPLICATE RECORDS
==================================================
Total duplicate rows: 0
Percentage of duplicates: 0.00%


DATA TYPES ANALYSIS
==================================================
Current data types:
tbl                object
Year                int64
quarter             int64
citymarketid_1      int64
citymarketid_2      int64
city1              object
city2              object
airportid_1         int64
airportid_2         int64
airport_1          object
airport_2          object
nsmiles             int64
passengers          int64
fare              float64
carrier_lg         object
large_ms          float64
fare_lg           float64
carrier_low        object
lf_ms             float64
fare_low          float64
Geocoded_City1     object
Geocoded_City2     object
tbl1apk            object
dtype: object


STATISTICAL SUMMARY
==================================================
Numerical columns summary:

                Year        quarter  citymarketid_1  citymarketid_2  \
count  245955.000000  245955.000000   245955.000000   245955.000000
mean     2008.524124       2.479153    31556.430201    32180.117086
std         8.703364       1.122149     1089.872880     1232.464184
min      1993.000000       1.000000    30135.000000    30189.000000
25%      2001.000000       1.000000    30721.000000    30994.000000
50%      2008.000000       2.000000    31423.000000    32211.000000
75%      2016.000000       3.000000    32467.000000    33192.000000
max      2024.000000       4.000000    35412.000000    35628.000000

         airportid_1    airportid_2        nsmiles     passengers  \
count  245955.000000  245955.000000  245955.000000  245955.000000
mean    12437.099986   13249.889525    1189.812319     299.476795
std      1431.665257    1425.810159     703.143472     511.389486
min     10135.000000   10466.000000     109.000000       0.000000
25%     11193.000000   12197.000000     626.000000      21.000000
50%     12266.000000   13303.000000    1023.000000     113.000000
75%     13487.000000   14679.000000    1736.000000     339.000000
max     16440.000000   15919.000000    2724.000000    8301.000000

                fare       large_ms        fare_lg          lf_ms  \
count  245955.000000  244415.000000  244415.000000  244343.000000
mean      218.979587       0.665252     218.710963       0.450438
std        82.372486       0.224635      84.674363       0.332669
min        50.000000       0.003800      50.000000       0.010000
25%       164.620000       0.480000     161.500000       0.158000
50%       209.320000       0.652400     208.030000       0.360000
75%       262.890000       0.871900     263.640000       0.750000
max      3377.000000       1.000000    2725.600000       1.000000

            fare_low
count  244343.000000
mean      190.675939
std        73.577694
min        50.000000
25%       140.060000
50%       181.630000
75%       230.040000
max      2725.600000


OUTLIER DETECTION (Basic)
==================================================
Year: 0 potential outliers (0.00%)
quarter: 0 potential outliers (0.00%)
citymarketid_1: 1644 potential outliers (0.67%)
citymarketid_2: 0 potential outliers (0.00%)
airportid_1: 0 potential outliers (0.00%)

✓ Data quality assessment completed!

## 5. Data Cleaning and Preprocessing

In [5]:
# Create a copy for cleaning
df_clean = df.copy()
original_shape = df_clean.shape

print("STARTING DATA CLEANING PROCESS")
print("="*50)
print(f"Original dataset shape: {original_shape}")

# Step 1: Remove duplicates
duplicates_removed = df_clean.duplicated().sum()
df_clean = df_clean.drop_duplicates()
print(f"\n1. Duplicate removal:")
print(f"   - Removed {duplicates_removed} duplicate rows")
print(f"   - New shape: {df_clean.shape}")

# Step 2: Handle missing values
print(f"\n2. Missing value treatment:")
missing_before = df_clean.isnull().sum().sum()

# For demonstration, let's use a simple strategy
# In practice, you'd analyze each column specifically
columns_with_missing = df_clean.columns[df_clean.isnull().any()].tolist()
if columns_with_missing:
    print(f"   - Columns with missing values: {columns_with_missing}")

    # Simple strategy: drop rows with any missing values
    # You might want to implement more sophisticated strategies
    df_clean = df_clean.dropna()

missing_after = df_clean.isnull().sum().sum()
print(f"   - Missing values before: {missing_before}")
print(f"   - Missing values after: {missing_after}")
print(f"   - New shape: {df_clean.shape}")

# Step 3: Data type optimization
print(f"\n3. Data type optimization:")
print("   Current dtypes:")
for col in df_clean.columns:
    print(f"   - {col}: {df_clean[col].dtype}")

# Convert object columns to category where appropriate (saves memory)
object_cols = df_clean.select_dtypes(include=['object']).columns
for col in object_cols:
    if df_clean[col].nunique() < len(df_clean) * 0.5:  # If less than 50% unique values
        df_clean[col] = df_clean[col].astype('category')
        print(f"   - Converted {col} to category")

# Step 4: Remove obvious outliers (basic approach)
print(f"\n4. Basic outlier removal:")
numeric_cols = df_clean.select_dtypes(include=[np.number]).columns
outliers_removed_total = 0

for col in numeric_cols:
    # Use IQR method for outlier detection
    Q1 = df_clean[col].quantile(0.25)
    Q3 = df_clean[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers_before = len(df_clean)
    df_clean = df_clean[(df_clean[col] >= lower_bound) &
                        (df_clean[col] <= upper_bound)]
    outliers_after = len(df_clean)
    outliers_removed = outliers_before - outliers_after

    if outliers_removed > 0:
        print(f"   - {col}: Removed {outliers_removed} outliers")
        outliers_removed_total += outliers_removed

print(f"   - Total outliers removed: {outliers_removed_total}")
print(f"   - New shape: {df_clean.shape}")

# Step 5: Final validation
print(f"\n5. Final data validation:")
print(f"   - Final shape: {df_clean.shape}")
print(
    f"   - Rows removed: {original_shape[0] - df_clean.shape[0]} ({((original_shape[0] - df_clean.shape[0])/original_shape[0]*100):.2f}%)")
print(f"   - Columns retained: {df_clean.shape[1]}/{original_shape[1]}")
print(
    f"   - Memory usage: {df_clean.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

print(f"\n✓ Data cleaning completed successfully!")

STARTING DATA CLEANING PROCESS
==================================================
Original dataset shape: (245955, 23)

1. Duplicate removal:
   - Removed 0 duplicate rows
   - New shape: (245955, 23)

2. Missing value treatment:
   - Columns with missing values: ['carrier_lg', 'large_ms', 'fare_lg', 'carrier_low', 'lf_ms', 'fare_low', 'Geocoded_City1', 'Geocoded_City2']
   - Missing values before: 87868
   - Missing values after: 0
   - New shape: (205189, 23)

3. Data type optimization:
   Current dtypes:
   - tbl: object
   - Year: int64
   - quarter: int64
   - citymarketid_1: int64
   - citymarketid_2: int64
   - city1: object
   - city2: object
   - airportid_1: int64
   - airportid_2: int64
   - airport_1: object
   - airport_2: object
   - nsmiles: int64
   - passengers: int64
   - fare: float64
   - carrier_lg: object
   - large_ms: float64
   - fare_lg: float64
   - carrier_low: object
   - lf_ms: float64
   - fare_low: float64
   - Geocoded_City1: object
   - Geocoded_City2: object
   - tbl1apk: object
   - Converted tbl to category

   - Converted city1 to category
   - Converted city2 to category
   - Converted airport_1 to category
   - Converted airport_2 to category
   - Converted carrier_lg to category
   - Converted carrier_low to category
   - Converted Geocoded_City1 to category
   - Converted Geocoded_City2 to category

4. Basic outlier removal:
   - citymarketid_1: Removed 1349 outliers

   - passengers: Removed 20130 outliers
   - fare: Removed 3561 outliers
   - fare_lg: Removed 1567 outliers
   - fare_low: Removed 1600 outliers
   - Total outliers removed: 28207
   - New shape: (176982, 23)

5. Final data validation:
   - Final shape: (176982, 23)
   - Rows removed: 68973 (28.04%)
   - Columns retained: 23/23
   - Memory usage: 34.55 MB

✓ Data cleaning completed successfully!

## 6. Export Cleaned Data

In [6]:
# Create data directory if it doesn't exist
import json
import os
os.makedirs('../data', exist_ok=True)

# Save cleaned dataset
cleaned_data_path = '../data/cleaned_data.csv'
df_clean.to_csv(cleaned_data_path, index=False)

print("EXPORTING CLEANED DATA")
print("="*50)
print(f"✓ Cleaned dataset saved to: {cleaned_data_path}")
print(f"✓ Shape: {df_clean.shape}")
print(f"✓ File size: {os.path.getsize(cleaned_data_path) / 1024**2:.2f} MB")

# Save summary statistics
summary_stats = {
    'original_shape': original_shape,
    'cleaned_shape': df_clean.shape,
    'rows_removed': original_shape[0] - df_clean.shape[0],
    'percentage_retained': (df_clean.shape[0] / original_shape[0]) * 100,
    'columns_info': {
        'numeric': len(df_clean.select_dtypes(include=[np.number]).columns),
        'categorical': len(df_clean.select_dtypes(include=['object', 'category']).columns),
        'total': df_clean.shape[1]
    },
    'missing_values': df_clean.isnull().sum().sum(),
    'memory_usage_mb': df_clean.memory_usage(deep=True).sum() / 1024**2
}

stats_path = '../data/preprocessing_summary.json'
with open(stats_path, 'w') as f:
    json.dump(summary_stats, f, indent=2, default=str)

print(f"✓ Preprocessing summary saved to: {stats_path}")

# Display final summary
print(f"\n" + "="*60)
print(f"DATA PREPROCESSING COMPLETED SUCCESSFULLY!")
print(f"="*60)
print(
    f"Original dataset: {original_shape[0]:,} rows × {original_shape[1]} columns")
print(
    f"Cleaned dataset: {df_clean.shape[0]:,} rows × {df_clean.shape[1]} columns")
print(
    f"Rows removed: {original_shape[0] - df_clean.shape[0]:,} ({((original_shape[0] - df_clean.shape[0])/original_shape[0]*100):.1f}%)")
print(f"Saved to: ../data/cleaned_data.csv")
print(f"Ready for exploratory data analysis!")
print(f"="*60)

EXPORTING CLEANED DATA
==================================================
✓ Cleaned dataset saved to: ../data/cleaned_data.csv
✓ Shape: (176982, 23)
✓ File size: 45.25 MB
✓ Preprocessing summary saved to: ../data/preprocessing_summary.json

============================================================
DATA PREPROCESSING COMPLETED SUCCESSFULLY!
============================================================
Original dataset: 245,955 rows × 23 columns
Cleaned dataset: 176,982 rows × 23 columns
Rows removed: 68,973 (28.0%)
Saved to: ../data/cleaned_data.csv
Ready for exploratory data analysis!
============================================================